@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<style>
    .info-paragraph {
        font-size: 16px;
        line-height: 1.6;
        color: #333;
        width: 100%;
        margin-left: 200px;
        height: 0px;
    }

        .info-paragraph strong {
            color: #00796b;
        }

    .logo-container {
        margin-right: 20px;
    }
</style>
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Name"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg" style="background-color:#00796b;border-color:#00796b;color:white;">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <div class="info-paragraph mb-4">
                <p style="font-size: 16px;">
                    <strong>Welcome to our platform!</strong> Explore a world of services and opportunities, you can <strong>buy or sell many services</strong>  just by logging in.
                </p>
                <div class="logo-container">
                    <img src="https://scontent.ftun1-2.fna.fbcdn.net/v/t1.15752-9/404584870_848768333708274_3220916107653024558_n.png?_nc_cat=101&ccb=1-7&_nc_sid=8cd0a2&_nc_ohc=pGbKmUeY9NQAX_dOfht&_nc_ht=scontent.ftun1-2.fna&oh=03_AdRCwres8x0_o3c8f6Odk1c5UMBYxUfHVhP9KBjTgsG6KA&oe=659BD3EE" alt="FreeWork Logo" class="img-fluid" />
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
