@model Projet2nd.Models.Service

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Service</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdService" />
            <div class="form-group">
                <label asp-for="nameService" class="control-label">Service Name</label>
                <input asp-for="nameService" class="form-control" />
                <span asp-validation-for="nameService" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descriptionService" class="control-label">Service Description</label>
                <input asp-for="descriptionService" class="form-control" />
                <span asp-validation-for="descriptionService" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prixService" class="control-label">Service Price</label>
                <input asp-for="prixService" class="form-control" />
                <span asp-validation-for="prixService" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="etatService" class="control-label">Service Status</label>
                <div class="form-check">
                    <input asp-for="etatService" class="form-check-input" type="radio" value="Available" checked />
                    <label class="form-check-label">Available</label>
                </div>

                <div class="form-check">
                    <input asp-for="etatService" class="form-check-input" type="radio" value="Not-Available" />
                    <label class="form-check-label">Not Available</label>
                </div>

                <span asp-validation-for="etatService" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imageService" class="control-label">Service Photo</label>
                <img src="@Url.Content($"~/uploads/{Model.imageService}")" alt="Current Image" style="max-width: 200px; max-height: 200px;" />
                <br />
                
                <br />
                <input type="checkbox" id="changeImage" name="changeImage" />
                <label for="changeImage">Change Photo</label>
                <br />
                <input asp-for="ImageFile" type="file" class="form-control" id="fileInput" disabled />
                <span asp-validation-for="imageService" class="text-danger"></span>
            </div>

            <script>
                document.getElementById('changeImage').addEventListener('change', function () {
                    var fileInput = document.getElementById('fileInput');
                    fileInput.disabled = !this.checked;
                });
            </script>



            <div class="form-group" style="margin-top:15px;">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
       
    </div>
</div>

<div>
    <a asp-action="Index"><i class="bi bi-arrow-left-circle"></i> Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
