@model Projet2nd.Models.Commande

@{
    ViewData["Title"] = "Commande Confirmée";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">Purshase Confirmed!</h2>
                    <p class="card-text">Thank you for your order! It has been successsfully confirmed.</p>

                    <!-- Ajoutez plus de détails ou d'instructions si nécessaire -->
                </div>
            </div>
        </div>
    </div>
</div>