@model List<Projet2nd.Models.Service>

<style>
    .table-container {
        margin-top: 20px;
    }

        .table-container table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        .table-container th, .table-container td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #dee2e6;
        }

        .table-container th {
            background-color: #00796b;
            color: white;
        }

        .table-container tbody tr:hover {
            background-color: #f8f9fa;
        }

    .no-orders-message {
        margin-top: 20px;
    }
</style>

<h2>Your Orders</h2>
<p>
    Thank you for choosing our plateform! Here are the the services that you have buy.
</p>
<hr/>
<div class="table-container">
    @if (Model.Count == 0)
    {
        <p class="no-orders-message">No orders available.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Service Name</th>
                    <th>Description</th>
                    <th>Price</th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var service in Model)
                {
                    <tr>
                        <td>@service.nameService</td>
                        <td>@service.descriptionService</td>
                        <td>@service.prixService Dt</td>
                      
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
