@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Contact Support</h1>
            <p>
                If you need assistance, please feel free to contact our support team.
            </p>

            <p>
                <strong>Email :</strong> supportfreework@gmail.com
            </p>

            <p>
                <strong>Phone Number :</strong> +216 23 944 808
            </p>

            <p>
                Our support team is available during business hours to help you with any questions or issues you may have.
            </p>
            <p>
                Thank you for choosing FreeWork. We strive to provide you with the best experience and assistance.
            </p>

            <p>
                If you have general inquiries or feedback about the application, we'd love to hear from you.
            </p>
            <div>
                <a asp-action="Index"><i class="bi bi-arrow-left-circle"></i> Back to Home</a>
            </div>
        </div>
        <div class="col-md-4">
            <img src="/uploads/logoR.png" alt="FreeWork Logo" class="img-fluid" />
        </div>
    </div>
</div>
