html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a{
    color:sienna;
    text-decoration:none;
}
    a:hover {
        color: #d64500;
    }
.footer {
    background-color: gray;
    padding: 0;
}
