<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projet2nd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projet2nd.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <style>
        body {
            background-color: #f8f9fa;
            color: #495057;
        }

        header {
            background-color: #00796b;
            color: #ffffff;
            padding: 15px 0;
        }

        footer {
            background-color: #212529;
            color: #ffffff;
            padding: 10px 0;
            text-align: center;
        }

        main {
            margin-top: 20px;
        }

        .navbar-brand {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .navbar-toggler-icon {
            color: #ffffff;
        }

        /* .navbar-nav .nav-link {
            color: #ffffff;
        } */

            .navbar-nav .nav-link:hover {
                color: #dee2e6;
            }

        .navbar-dark .navbar-toggler:hover {
            background-color: #005448;
        }

        .navbar-brand img {
            margin-top: -20px;
            max-height: 70px;
            margin-right: 10px;
            filter: brightness(0) invert(1); /* Apply brightness filter to make the logo white */
        }

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-darkCyan border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/uploads/logoR.png" alt="FreeWork Logo">
                    FreeWork.
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole("acheteur"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Commande">Your Orders</a>
                            </li>
                        }
                        @if (User.IsInRole("vendeur"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Service" asp-action="index">Your Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Service" asp-action="PurchasedServices">Purchased Services</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Help">Help</a>
                        </li>
                    </ul>
                    <form method="post" asp-action="Search" asp-controller="Home" class="my-3">
                        <div class="input-group">
                            <input type="text" name="termeRecherche" class="form-control" placeholder="Enter to search" />
                            <button type="submit" class="btn " style="background-color:#00796b;color:white;border-color: white; "><i class="bi bi-search"></i> Search</button>
                        </div>
                    </form>

                    <partial name="_LoginPartial" />
                </div>
            </div>
            
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted mt-5">
        <div class="container" style="color:white;">
            &copy; 2023 - FreeWork - Buy services<a asp-area="" asp-controller="Home" asp-action="Index" class="text-white"> - Home</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
